{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - Code d'invitation</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card my-5 shadow text-left">
                    <h5 class="card-header text-white bg-dark mb-3">
                        Entrer le code d'invitation
                    </h5>
                    <div class="card-body text-left">
                        Cette chaîne est privée et nécessite un code d'invitation pour y accèder.
                        <form action="/settings/user/addInviteCode" method="get">
                            <label for="inviteCode" class="col-form-label"><b>Entrez votre code d'invitation</b></label>
                            <div class="input-group mb-3">
                                <input name="inviteCode" id="inviteCode" type="text" class="form-control" required>
                            </div>
                            <input type="hidden" name="redirectURL" value="{{request.url}}">
                            <button class="btn btn-primary" type="submit">Valider</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}